*.cmd eol=crlf
*.txt eol=lf
*.md eol=lf
*.java eol=lf
*.cs eol=lf
*.js eol=lf
*.css eol=lf
*.htm eol=lf
*.html eol=lf
*.less eol=lf
*.ntc eol=lf
*.erl eol=lf
*.hrl eol=lf
*.csproj eol=lf
*.sln eol=lf
*.xml eol=lf
*.laconf eol=lf linguist-language=C#
*.sky eol=lf linguist-language=C#
*.json eol==lf
*.yml eol==lf
*.rschema eol=lf linguist-language=C#
