root = true

; Unix-style newlines by default
[*]
end_of_line = LF

; 2-column space 
[*.cs]
indent_style = space
indent_size = 2

; 2-column space
[*.js]
indent_style = space
indent_size = 2

; 2-column space
[*.cmd]
indent_style = space
indent_size = 2
end_of_line = CRLF


; 4-column space
[*.erl]
indent_style = space
indent_size = 4

[*.hrl]
indent_style = space
indent_size = 4
